.stack-work/
*~
app/Main
app/Main.hi
app/Main.o
app/ParallelNeighbor
app/ParallelNeighbor.hi
app/ParallelNeighbor.o
app/ParallelPriorityQueue
app/ParallelPriorityQueue.hi
app/ParallelPriorityQueue.o
app/ParallelPuzzle
app/ParallelPuzzle.hi
app/ParallelPuzzle.o
app/Sequential
app/Sequential.hi
app/Sequential.o
Main.eventlog
eventlog/*
